@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .contacts-menu {
    display: none;
  }
}
