@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .contacts-menu {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-item {
    position: relative;
  }
  .menu-item:not(:last-child) {
    margin-right: 70px;
  }
  .logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
  }
  .page-navigation > .logotype {
    margin-right: 76px;
  }
  .header-logotype-color {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark);
    transition: color var(--transition-dur-and-func);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed-state);
  }
  .active-link {
    color: var(--pressed-state);
  }
  .active-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background-color: var(--pressed-state);
    border-radius: 2px;
  }
  .contacts {
    font-style: normal;
    margin-left: auto;
  }
  .contacts-information {
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    transition: color var(--transition-dur-and-func);
  }
  .contacts-information:hover,
  .contacts-information:focus {
    color: var(--pressed-state);
  }
  .contacts-information-email {
    margin-right: 70px;
  }
  .hero {
    background-color: var(--dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background-image.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    justify-content: center;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background);
    width: 496px;
    margin: 0 auto;
  }
  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: var(--card-set-vertical-gap);
    transition: background-color var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .advantages {
    padding-top: 120px;
  }
  .advantages-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .advantages {
    padding-bottom: 0px;
  }
  .advantages-item {
    width: 264px;
  }
  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
  }
  .advantages-item-description {
    line-height: 1.5;
  }
  .advantages-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
  .advantages-icon {
    fill: var(--dark);
  }
  .about-title {
    margin-bottom: 72px;
  }
  .about-menu {
    display: flex;
    column-gap: var(--card-set-horizontal-gap);
  }
  .about-menu-item {
    flex-basis: calc(100% - 2 * var(--card-set-horizontal-gap)) / 3;
    border: 1px solid #e7e9fc;
  }
  .team {
    background-color: var(--light);
  }
  .team-title {
    margin-bottom: 72px;
  }
  .team-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-set-horizontal-gap);
  }
  .team-menu-item {
    background-color: var(--white-background);
    flex-basis: calc(100% - 3 * var(--card-set-horizontal-gap)) / 4;
  }
  .team-menu-item-container {
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-menu-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
    margin-bottom: 8px;
  }
  .team-menu-description {
    line-height: 1.5;
    text-align: center;
    color: var(--text);
    margin-bottom: 8px;
  }
  .social-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-menu-item {
    width: 40px;
    height: 40px;
  }
  .social-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
  }
  .social-menu-link:hover,
  .social-menu-link:focus {
    background-color: var(--pressed-state);
  }
  .social-menu-icon {
    fill: #f4f4fd;
  }
  .customers-title {
    margin-bottom: 72px;
  }
  .customers-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-menu-item {
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
  }
  .customers-menu-icon {
    fill: #8e8f99;
    transition: fill var(--transition-dur-and-func);
  }
  .customers-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .customers-menu-item:hover,
  .customers-menu-item:focus {
    border-color: var(--pressed-state);
  }
  .customers-menu-item:hover .customers-menu-icon,
  .customers-menu-item:focus .customers-menu-icon {
    fill: var(--pressed-state);
  }
  .projects-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .projects-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-set-horizontal-gap);
    margin-bottom: 72px;
    justify-content: center;
  }
  .projects-menu-btn {
    font-family: "Roboto", sans-serif;
    background-color: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    padding: 12px 24px;
    transition: background-color var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func),
      border var(--transition-dur-and-func),
      color var(--transition-dur-and-func);
  }
  .projects-menu-btn:hover,
  .projects-menu-btn:focus {
    background-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border: var(--pressed-state);
    color: var(--white-background);
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--card-set-vertical-gap);
    column-gap: var(--card-set-horizontal-gap);
  }
  .project-list-item {
    flex-basis: calc(100% - 2 * var(--card-set-horizontal-gap)) / 3;
  }
  .projects-list-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
  }
  .projects-list-link:hover,
  .projects-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .projects-list-link:hover .overlay,
  .projects-list-link:focus .overlay {
    transform: translate(0, 0);
  }
  .projects-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--primary-brand);
  }
  .projects-list-item-container {
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .projects-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
  }
  .projects-list-description {
    line-height: 1.5;
    color: var(--text);
  }
  .footer {
    background-color: var(--dark);
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .page-footer-container {
    margin-right: 120px;
  }
  .footer-logotype-color {
    color: var(--light);
  }
  .footer-copy {
    line-height: 1.5;
    color: var(--light);
    width: 264px;
  }
  .footer-logotype {
    margin-bottom: 16px;
  }
  .footer-general-container {
    display: flex;
  }
  .social-media-container {
    margin-right: 80px;
  }
  .social-media-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .social-media-menu {
    display: flex;
    justify-content: left;
    gap: 16px;
  }
  .social-media-item {
    width: 40px;
    height: 40px;
  }
  .social-media-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
  }
  .social-media-item-link:hover,
  .social-media-item-link:focus {
    background-color: var(--success);
  }
  .social-media-icon {
    fill: #f4f4fd;
  }
  .subscribe-form-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
  }
  .subscribe-form {
    display: flex;
  }
  .subscribe-form-field {
    margin-right: 24px;
  }
  .subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--hero-background);
    padding: 8px 16px;
    color: var(--white-background);
  }
  .subscribe-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-background);
  }
  .subscribe-form-submit {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--white-background);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin: 0 auto;
    transition: background-color var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func);
  }
  .subscribe-form-submit:hover,
  .subscribe-form-submit:focus {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .subscribe-form-icon {
    fill: var(--white-background);
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: visibility var(--transition-dur-and-func),
      opacity var(--transition-dur-and-func);
  }
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    background-color: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
  }
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--pressed-state);
  }
  .modal-close-btn-icon {
    fill: var(--dark);
    transition: fill var(--transition-dur-and-func);
  }
  .modal-close-btn:hover .modal-close-btn-icon,
  .modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-background);
  }
  .form-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--modal-overlay);
    margin-bottom: 16px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-field {
    margin-bottom: 8px;
  }
  .modal-form-message-field {
    margin-bottom: 16px;
  }
  .modal-form-field-desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
    margin-bottom: 4px;
  }
  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border var(--transition-dur-and-func),
      outline var(--transition-dur-and-func);
  }
  .modal-form-input:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 16px;
    transition: fill var(--transition-dur-and-func);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: var(--primary-brand);
  }
  .modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    transition: outline var(--transition-dur-and-func),
      border var(--transition-dur-and-func);
  }
  .modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }
  .modal-form-message:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
  }
  .modal-form-check {
    position: absolute;
  }
  .modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    cursor: pointer;
    margin-bottom: 24px;
  }
  .modal-form-fake-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: border var(--transition-dur-and-func);
  }
  .modal-form-fake-check-icon {
    opacity: 0;
  }
  .modal-form-check:checked + .modal-form-check-desc > .modal-form-fake-check {
    background: var(--pressed-state);
    border: 1px solid var(--pressed-state);
  }
  .modal-form-check:focus + .modal-form-check-desc > .modal-form-fake-check {
    border: 1px solid var(--pressed-state);
  }
  .modal-form-check:checked
    + .modal-form-check-desc
    > .modal-form-fake-check
    > .modal-form-fake-check-icon {
    opacity: 1;
    fill: var(--light);
  }
  .modal-form-check-desc-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--primary-brand);
  }
  .modal-form-submit {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func);
  }
  .modal-form-submit:hover,
  .modal-form-submit:focus {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts-menu {
    display: none;
  }
}
